body {
    background-color: #eee;
}

.container {
    text-align: center;
    margin-top: 10px;
}

@mixin txtBgClip {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title #first {
    background: -webkit-linear-gradient(#4BC7F0, #030E2E); 
    @include txtBgClip;
}

#title #second {
    background: -webkit-linear-gradient(left, #E7AC00, #582A00);
    @include txtBgClip;
}

p, table {
    font-size: 1em;
}

.msg {
    margin-top: 10px;
}

a {
    font-style: italic;
}

table {
    text-align: left;
}

.bHead {
    text-align: center;
}

.bucket {
    text-align: center;
    background-image: url(../images/bucket.png);
    background-size: 47px;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.bucketVol {
    background-color: rgba(238, 239, 216, .9);
    border-radius: 4px 0 4px 0;
    color: rgb(55, 141, 244);
    padding: 0 2px 0 2px;
}
@media (min-width: 768px){
    form {
        margin-top: 5%;
    }
    
    p, table {
        font-size: 1.5em;
    }
    
    .numInput {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
}