<!DOCTYPE html>
<html ng-app="infiniteLake">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="The Infinite Lake" content="getting the right volume with 2 buckets and an infinite lake">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <link rel="icon" type="image/png" href="./images/bucket.ico">
        <title>The Infinite Lake</title>
        <link rel="stylesheet" href="./css/bootstrap.css" />
        <link rel="stylesheet" href="./css/main.css" />
    </head>
    <body>
        <div class="container">
        
            <div class="col-lg-10 col-lg-offset-1">
                
                <h2 class="center">Two Buckets <small>are all you need to get <em>n</em>L of water from an infinite lake</small></h2>
                
                <div ng-controller="mainCtrl">
                    <form novalidate ng-hide="hideForm" ng-submit="calculate()">
                        <input class="input-lg form-control numInput" type="number" ng-model="target" name="target" placeholder="How much water do you want?" />
                        <br />
                        <input class="input-lg form-control numInput" type="number" ng-model="bucket1" name="bucket1" placeholder="How big is the first bucket?" />
                        <br />
                        <input class="input-lg form-control numInput" type="number" ng-model="bucket2" name="bucket2" placeholder="How big is the second bucket?" />
                        <br />
                        <button class="btn btn-default btn-lg" type="submit"> Calculate </button>
                    </form>
                    
                    <p class="msg">{{ requirements }}</p>
                    <p class="msg text-primary">{{ notice }}</p>
                    <p class="msg text-danger">{{ error }}</p>
                
                
                    <div ui-view></div>
                    
                    <button class="btn btn-primary btn-lg" ng-click="tryagain()" ng-show="hideForm">Try Again</button>
                
                </div>
                
            </div>
        
    </div>
    
    <script src="./js/algorithm.js"></script>
    
    <script src="./js/angular.js"></script>
    <script src="./js/angular-ui-router.js"></script>
    <script src="./js/infinite-lake.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/services.js"></script>
    
    </body>
</html>